.profile-header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    .avatar {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-bottom: 15px;
        object-fit: cover;
        cursor: pointer;  /* Changes cursor to pointer to indicate clickable */
        transition: transform 0.2s ease-in-out;
        &:hover {
            transform: scale(1.05); /* Slightly zooms in on hover */
        }
    
        &:focus {
            outline: none; /* Removes the default focus outline */
        }
    }

    .name {
        font-size: 24px;
        color: #4e4ac3;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .bio {
        font-size: 16px;
        color: #555;
    }
}

