
.status-button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    width: 110px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &.edit {
        background-color: #3B21CC;
        color: #fff;
    }

    &.active {
        background-color: #28a745; 
        color: #fff;
    }

    &.inactive {
        background-color: #dc3545; 
        color: #fff;
    }

    &:hover {
        opacity: 0.9;
    }
}
